<h1 class="title_generic">Bem vindo a página Home!</h1>
<div class="container_home">
  <button class="btn_home">
    <a href="/list" class="link_home">Clique aqui</a>
  </button>
  <span>para acessar lista de produtos</span>
</div>