<h1>{{user.name}}</h1>
<div class="container">
  <ul>
    <li>{{user.occupation}}</li>
  </ul> <br><br>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam quasi, cupiditate adipisci mollitia itaque sequi voluptates dolorum aut quibusdam delectus soluta odio rem ut perferendis deleniti? Repudiandae, dicta amet.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio eligendi sint esse, totam excepturi atque, quibusdam mollitia non quos debitis quam dolores adipisci eius sit tempore ab soluta ullam! Quidem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro eum, nulla voluptates fuga omnis delectus ea, quaerat, odio animi sit doloremque. Repudiandae, velit deserunt! Libero quam quisquam doloribus ullam dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi exercitationem vitae sed quaerat earum temporibus atque nostrum! Labore totam nesciunt error quibusdam illum officia at, aperiam facere. Accusamus, deserunt quibusdam!
  </p>
  <p class="text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro eum, nulla voluptates fuga omnis delectus ea, quaerat, odio animi sit doloremque. Repudiandae, velit deserunt! Libero quam quisquam doloribus ullam dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi exercitationem vitae sed quaerat earum temporibus atque nostrum! Labore totam nesciunt error quibusdam illum officia at, aperiam facere. Accusamus, deserunt quibusdam!
  </p>
</div>
