* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edede9;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 100vw;
  height: 100vh;
}

#btn {
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: green;
  color: #edede9;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  width: 100px;
  cursor: pointer;
}